body{
    background-color: lightgrey;
}
.nav1{
    background-color: limegreen;
    width: 100%;
    height: 60px;
    padding-top: 10px;
}
.nav1 ol{
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
li{
    float: right;
    font-size: 20px;
}
li a{
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 16px;
}
section{
    text-align: center;
}
li a:hover{
    background-color: lightgrey;
}